torch~=2.5.1
numpy~=2.0.0
matplotlib~=3.9.2
scikit-learn~=1.5.2
keras~=3.6.0
tkan~=0.4.3
xlstm~=1.0.8
pandas~=2.2.3
geopandas~=1.0.1
geopy~=2.4.1
shapely~=2.0.6
tqdm~=4.67.0
scipy~=1.13.1
requests~=2.32.3
rasterio~=1.4.2
pyproj~=3.6.1
python-dotenv~=1.0.1
statsmodels~=0.14.4